* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #d84848;
    color: white;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

.ukm-list {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.ukm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /* Grid responsif */
    gap: 20px;
    padding: 20px;
}

.ukm-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.2rem;
}

.ukm-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ukm-details {
    display: none;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 30px auto;
}

.ukm-details img {
    max-width: 100px;
    margin-bottom: 20px;
}

.ukm-content {
    display: none;
}

button {
    background-color: #218838;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    font-size: 1rem;
}


